/*****************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 40px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;/图片宽度
  padding: 10px;
  margin: 10px 0 10px 0;
/图片宽度
  box-shadow: 0 0 5px #ffffff;
  -webkit-box-shadow: 0 0 5px #ffffff;/图片柔光颜色
}

  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

/*****************/

.outer {
  width: 100%;
  padding: 0 10px;
}

.inner {
  position: relative;
  max-width: 1000px;/显示宽度
  padding: 20px 10px;
  margin: 0 auto;
}

#header_wrap {
  background: #5a432e;/上主题颜色
}

#header_wrap .inner {
  padding: 10px 10px 0px 0px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 54px;
  font-weight: 800;
}

#footer_wrap {
  background: #5a432e;/下主题颜色
}

/***************/

@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 16px;/手机浏览器内容高度
}
